{# Surcharge des champs de formulaire pour bootstrap 3 #}

{% extends FORMS_BOOTSTRAP3|default("SGNFormsBundle::forms.bootstrap3.html.twig") %}
{# {% form_theme form 'SGNFormsBundle::forms.table.bootstrap3.html.twig' %} #}
{# {% extends "form_div_layout.html.twig" %} #}

{# Form #}

{% block form_row %}
{% spaceless %}
    <tr>
        <td>
            {{ form_label(form) }}
        </td>
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <tr>
        <td></td>
        <td>
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock button_row %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}

{% block form_widget_compound %}
{% spaceless %}
    <table {{ block('widget_container_attributes') }}>
        {% if form.parent is empty and errors|length > 0 %}
        <tr>
            <td colspan="2">
                {{ form_errors(form) }}
            </td>
        </tr>
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </table>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block submit_row %}
{% spaceless %}
<div class="table-responsive">
    <table class="table"><tr>
       <td style="border-top: 0px;"> {{ form_widget(form) }}</td>
    </tr></table>
</div>
{% endspaceless %}
{% endblock %}

{# Surcharge pour l’affichage en table #}

{% block form_label %}
{% spaceless %}
    {% if in_choice_list is defined and in_choice_list and widget is defined %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({for: id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if multiple is defined and multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox')|trim}) %}
        {% elseif multiple is defined and not multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ widget|raw }}
            <span>
                {{ label|trans({}, translation_domain) }}
            </span>
        </label>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-sm-12 control-label')|trim}) %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block geom_widget %}
    
{% endblock %}