<table id="list-grid{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}"></table>
<div id="grid-nav{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}"></div>
<script >
$(document).ready(function() {
    myUrl = "{{ url(
                    'sgn_forms_formscrud_selectjqgrid',
                    {
                        'table'      :  table ,
                        'collection' :  collection
                    } ) }}";

    // console.log ('parent : '+ '{{table}} '+ '{{collection}} ' + myUrl);
    $("#list-grid{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}").jqGrid({
        autowidth   : true,
        shrinkToFit : false,
        height      : 'auto',
        mtype       : "GET",
        url         : myUrl,
        postData: {
            sourceId: getParentId,
            parent: '{{ parent }}'
        },
        datatype: "json",
        jsonReader : {
          repeatitems: false
        },
        colModel    : {{ columnModel|raw   }} ,
        rowNum      : {{ limit }},
        rowList     : {{ rowsList }},
        pager       : "#grid-nav{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}",
        sortname    : 'id',
        viewrecords : true,
        gridview    : true,
        sortorder   : "asc",
        beforeRequest    : hidePager,
        ondblClickRow : function(rowid, iRow, iCol, e) {
            document.getElementById('idRow').innerHTML ='<div class="loading-big" id="loading" style="display:none">Loading&#8230;</div>';
            $(".loading-big").css("display", "block");
            myUrlReloc = '{{ url }}' ;
            myUrlReloc = myUrlReloc.replace('%23', rowid); // %23 =
            window.location.replace(myUrlReloc);
        },

        beforeProcessing : showPagerOrNot,
        {% if parent is null %} onSelectRow : relatedGridsReload ,{% endif %}
        caption     : ""


    });

    $('.ui-jqgrid-sortable').css('height', '30px');
    $('.ui-jqgrid-sortable').css('font-size', '16px');
    $('.ui-jqgrid-sortable').css('border-bottom-width', '1px');
    $('.ui-jqgrid-sortable').css('border-bottom-style', 'solid');
    $('.ui-jqgrid-sortable').css('border-bottom-color', 'rgb(221, 221, 221)');
    var width = $('#grid_container2').width()-30;

    $("#list-grid{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}").jqGrid("navGrid", "#grid-nav{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}",
        { edit:false, add:false, del:false,search: false, view:false
        },
        { } //edit options
    );


    function getParentId() {
        // attention, c'est l'identifiant de la grille principale
        return $('#list-grid{% if parent is not null %}-{{ parent }}{% endif %}').jqGrid('getGridParam','selrow');
    }

    function hidePager() {
        $("#grid-nav{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}_center").hide();
    }

    function showPagerOrNot(data) {
        if (data.total > 1) {
            $("#grid-nav{% if parent is not null %}-{{ parent }}{% endif %}-{{ collection }}_center").show();
        }
    }

    function relatedGridsReload(sel_id) {

        $("#related-grids-{{ collection }}").show();
    {% for subcollection , attributs in collectionUrls %}
        myUrl = "{{ attributs.url }}";
        myUrl = myUrl.replace('/1/', '/'+sel_id+'/');
        myUrl = myUrl.replace('%23', sel_id); // %23 = #
        myUrl = myUrl.replace('amp;', '');
        // console.log ('relatedGridsReload : '+' {{ subcollection }} '+myUrl);
        $.ajax( { url: myUrl , dataType : "html" , cache  : false})
            .done(function(data) {
                $('#related-grid-{{ collection }}-{{ subcollection }}').append(data);
                $("#list-grid-{{ collection }}-{{ subcollection }}").jqGrid('setGridWidth', width-3);
            })
            .fail(function(e, data) {
                console.log (e);
            })
            .always(function() {
                // alert( "complete" );
            });
    {% endfor %}

    {% for subcollection , url in collectionUrls %}
        $("#list-grid-{{ collection }}-{{ subcollection }}").clearGridData();
        $("#list-grid-{{ collection }}-{{ subcollection }}").trigger('reloadGrid');
    {% endfor %}

    }

});

</script>
