{% extends ADMIN_LAYOUT %}

{% block stylesheets %}
    {{ parent() }}
    {{ jQueryUiCSS() }}
    {{ jqGridCSS() }}
    {{ select2CSS() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgnforms/css/jquery-ui-1.10.0.custom.css') }}" />
    <style>
    .ui-jqgrid .ui-pg-input {
        font-size: 14px;
        height: 20px;
        margin: 0;
        width: 50px;
    }
    .select2-container
    {
        margin-top: 5px;
    }
    .nav-pills
    {
        margin-top: 5px;
    }
    .hb_inner {
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 15px !important;
        width: 520px !important;
    }
    </style>
{% endblock stylesheets %}
{% set bundle = "" %}
{% block header_banner_inner %}
<div class="hb_inner">
    <div class="btn-group btn-group">
       {% for bundle in sgn_forms_bundles %}
         {% if bundle  != project %}
            <a href="{{ path('sgn_forms_formscrud_show_3', {bundle: bundle}) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-pushpin"></span> {{ bundle[:-6] }}</a>
           {% endif %}
        {% endfor %}
    </div>
    <br/>
      <div class="btn-group btn-group-sm">
       {% for bestof in bestof_entity %}
         {% if bestof  != entity %}
            <a href="{{ path('sgn_forms_formscrud_show_2', {bundle: project, table: bestof  }) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-paperclip"></span> {{ bestof|raw }}</a>
           {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block content %}
<div class="row">
    {% if  entities  is defined and entities|length > 0  %}
        <select id="e1"  onchange="location = this.options[this.selectedIndex].value;" style="float: right;">
            <option></option>
            {% for entit in entities %}
                <option value="{{ entit.link }}" >{{ entit.name}}</a></option>
            {% endfor %}
        </select>
      {% endif %}

<h3>{{ project }} - {{ entity }}</h3>
{% set id = null%}


<div id="grid_container">
    <table  class="table table-striped" id="list-grid"></table>
    <div id="grid-nav"></div>
</div>
<br>

 {% if  collectionNames  is defined %}
  
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#related-grids" data-toggle="tab">Related data</a></li>
    <li class=""><a href="#show" data-toggle="tab">Show</a></li>
    <li class=""><a href="#edit" data-toggle="tab">Edit</a></li>
    <li class=""><a href="#new" data-toggle="tab">New</a></li>
    <li class=""><a href="#delete" data-toggle="tab">Delete</a></li>
</ul>
<div id="myTabContent" class="tab-content" style="display:none;">
    <div class = "tab-pane fade active in" id="related-grids">
        <h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        {% for collection , url  in collectionNames %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">{{collection}}</h3>
                </div>
                <div id="result_panel" class="panel-body">
                    <div id="related-grid-{{collection}}" ></div>
                </div>
            </div>
         {% endfor %}
    </div>
    <div class = "tab-pane fade" id="show"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="showEntity">
            <img src="{{ asset('bundles/bdgsworkflow/images/working.gif') }}" alt="working..." />
        </div>
    </div>
    <div class = "tab-pane fade" id="edit"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="editEntity">
            <img src="{{ asset('bundles/bdgsworkflow/images/working.gif') }}" alt="working..." />
        </div>
    </div>
    <div class = "tab-pane fade" id="new"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="newEntity">
            <img src="{{ asset('bundles/bdgsworkflow/images/working.gif') }}" alt="working..." />
        </div>
    </div>
    <div class = "tab-pane fade" id="delete"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="deletEntity">
            <img src="{{ asset('bundles/bdgsworkflow/images/working.gif') }}" alt="working..." />
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ jqGridJS() }}
    {{ select2JS() }}

<script >

$(document).ready(function() {
    $("#e1").select2({ placeholder: "Choisissez une table ..." });

    var last_selected = null;
    var last_loaded   = null;

      jQuery("#list-grid").jqGrid({
        autowidth : true,
        height    : 'auto',
        shrinkToFit : true,
        mtype: "GET",
        url       : "{{ url(
                    'sgn_forms_formscrud_show',
                    {
                        'bundle' : project,
                        'format' : 'json' ,
                        'table'  : entity,
                        'params' : params
                    } ) }}",
        datatype: "json",
        jsonReader : {
          repeatitems: false
        },
        colNames    : {{ columnNames|json_encode()|raw }},
        colModel    : {{ columnModel|raw   }} ,
        rowNum      : {{ limit }},
        rowList     : {{ rowsList }},
        pager       : "#grid-nav",
        sortname    : 'id',
        viewrecords : true,
        gridview    : true,
        sortorder   : "asc",
        caption     : "",
        onSelectRow      : relatedGridsReload,
        loadComplete     : hideResearch
    });

    function relatedGridsReload(sel_id) {
        jQuery("#myTabContent").show();
        wait = " En developpement ... <img src=\"{{ asset('bundles/bdgsworkflow/images/working.gif') }}\" alt=\"working...\" />";
        jQuery('#editEntity').html(wait);
        jQuery('#showEntity').html(wait);
        jQuery('#newEntity').html(wait);
        jQuery('#deletEntity').html(wait);
        {% for collection, url in collectionNames %}
            myUrl = "{{ url }}";
            myUrl = myUrl.replace( '0', sel_id);
            $.ajax({
                type   : "GET",
                url    : myUrl,
                cache  : false,
                success: function(data){
                    jQuery('#related-grid-{{collection}}').append(data);
                }
            });
        {% endfor %}

         myUrl = "{{ url_new }}";
            $.ajax({
                type   : "GET",
                url    : myUrl,
                cache  : false,
                success: function(data){
                    // jQuery('#newEntity').html(data);
                }
            });
        myUrl = "{{ url_edit }}";
            myUrl = myUrl.replace( '0', sel_id);
            $.ajax({
                type   : "GET",
                url    : myUrl,
                cache  : false,
                success: function(data){
                    // jQuery('#editEntity').html(data);
                }
            });
 
        if (sel_id != last_loaded ) {
            {% for collection, url in collectionNames %}
                jQuery("#list-grid-{{ collection }}" ).clearGridData();
                jQuery("#list-grid-{{ collection }}").trigger('reloadGrid');
            {% endfor %}
            jQuery(".selectedEntityId").text(getSelectedEntityId);

            last_loaded = sel_id;
        }
        last_selected = sel_id;
    }
    function getSelectedEntityId() 
    {

        var sel_id = jQuery("#list-grid").getGridParam('selrow');
        if (last_loaded) jQuery("#list-grid tr#" + last_loaded + " td").css('font-weight', 'normal');
        jQuery("#list-grid tr#" + sel_id + " td").css('font-weight', 'bold');
        var id = jQuery("#list-grid").getCell(sel_id, 'id');
        return id;
    }

    function hideResearch() 
    {
        if (jQuery("#searchmodfbox_list-grid")) {
            jQuery("#searchmodfbox_list-grid a.ui-jqdialog-titlebar-close").click();
        }
    }

    var grid = jQuery("#list-grid").jqGrid("navGrid", "#grid-nav",
        {
            add:false,  edit:false, view:false, del:false,search: true
        },
        { } //edit options
    );

    jQuery("#list-grid").jqGrid("filterToolbar", {
       // searchOperators: true,
       // stringResult: true,
       // searchOnEnter: false,
        defaultSearch: "cn"
    });

    //jQuery("#list-grid").jqGrid('setSelection', 1);
     jQuery("#list-grid").setCell(1);
 });

    jQuery(window).bind('resize', function() {
    // Get width of parent container
    var width = jQuery("#grid_container").width();
    if (width == null || width < 1){
        // For IE, revert to offsetWidth if necessary
        width = jQuery("#grid_container").attr('offsetWidth');
    }
    width = width - 2; // Fudge factor to prevent horizontal scrollbars
    if (width > 0 &&
        // Only resize if new width exceeds a minimal threshold
        // Fixes IE issue with in-place resizing when mousing-over frame bars
        Math.abs(width - jQuery("#list-grid").width()) > 5)
    {
        jQuery("#list-grid").setGridWidth(width);
    }

}).trigger('resize');

</script>
{% endblock %}