{% extends ADMIN_LAYOUT %}

{% block stylesheets %}
    {{ parent() }}
    {{ jQueryUiCSS() }}
    {{ jqGridCSS() }}
    {{ select2CSS() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgnforms/css/jquery-ui-1.10.0.custom.css') }}" />
    <style>
    .ui-jqgrid .ui-pg-input {
        font-size: 14px;
        height: 20px;
        margin: 0;
        width: 50px;
    }
    .select2-container
    {
        margin-top: 5px;
    }
    .nav-pills
    {
        margin-top: 5px;
    }
    .hb_inner {
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 15px !important;
        width: 520px !important;
    }
    #grid_container table>tbody>tr>td[role="gridcell"] {
        padding: 0px;
        padding-left: 8px;
    }
    #grid_container input {
        height: 25px;
        background-color: #F9F9F9;
    }
    </style>
{% endblock stylesheets %}
{% set bundle = "" %}
{% block header_banner_inner %}
<div class="hb_inner">
    <div class="btn-group btn-group">
       {% for bundle in sgn_forms_bundles %}
         {% if bundle  != project %}
            <a href="{{ path('sgn_forms_formscrud_show_3', {bundle: bundle}) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-pushpin"></span> {{ bundle[:-6] }}</a>
           {% endif %}
        {% endfor %}
    </div>
    <br/>
      <div class="btn-group btn-group-sm">
       {% for bestof in bestof_entity %}
         {% if bestof  != entity %}
            <a href="{{ path('sgn_forms_formscrud_show_2', {bundle: project, table: bestof  }) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-paperclip"></span> {{ bestof|raw }}</a>
           {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block content %}
{# {{ dump(app.request.query) }} #}
<div class="row">
    {% if  entities  is defined and entities|length > 0  %}
        <select id="e1"  onchange="location = this.options[this.selectedIndex].value;" style="float: right;">
            <option></option>
            {% for entit in entities %}
                <option value="{{ entit.link }}" >{{ entit.name}}</a></option>
            {% endfor %}
        </select>
      {% endif %}

<h3>{{ project }} - {{ entity }}</h3>
{% set id = null%}


<div id="grid_container">
    <table  class="table table-striped" id="list-grid"></table>
    <div id="grid-nav"></div>
</div>
<br>

 {% if  collectionNames  is defined %}
  
  <div class="btn-group">    
    <button role="button" class="btn btn-primary btn-md" onclick="showHide('related-grids');" ><span class="glyphicon glyphicon-list-alt"></span> {% trans %}Related datas{% endtrans %}</button>
    <button role="button" class="btn btn-primary btn-md" onclick="showHide('show');"><span class="glyphicon glyphicon-eye-open"> </span> {% trans %}Show{% endtrans %}</a>
    <button role="button" class="btn btn-warning btn-md" onclick="showHide('edit');"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</button>
    <button role="button" class="btn btn-warning btn-md" onclick="showHide('new');"><span class="glyphicon glyphicon-plus"></span> {% trans %}New{% endtrans %}</button>
    <button role="button" class="btn btn-danger btn-md"  onclick="showHide('delete');"> <span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
 </div>

<div id="myTabContent" class="tab-content" >
    <div class = "tab-pane" id="related-grids" >
        <h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        {% for collection , url  in collectionNames %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">{{collection}}</h3>
                </div>
                <div id="result_panel" class="panel-body">
                    <div id="related-grid-{{collection}}" ></div>
                </div>
            </div>
         {% endfor %}
    </div>
    <div class = "tab-pane" id="show" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="showEntity">
            Vous devez effectuer une selection pour pouvoir l'afficher.
        </div>
    </div>
    <div class = "tab-pane" id="edit" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="editEntity">
            Vous devez effectuer une selection pour pouvoir l'éditer.
        </div>
    </div>
    <div class = "tab-pane" id="new" style="display:none;"><h2>{{ entity }} : </h2>
        <div id="newEntity">
            {{ render(controller('SGNFormsBundle:FormsCRUD:new', {
                'bundle': project, 'table': entity, 'ajax':''
            })) }}
        </div>
    <div class = "tab-pane" id="delete" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
        <div id="deletEntity">
            Vous devez effectuer une selection pour pouvoir la supprimer.
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ jqGridJS() }}
    {{ select2JS() }}

<script >

    function showHide(id)
    {
        jQuery("#show").hide();
        jQuery("#edit").hide();
        jQuery("#new").hide();
        jQuery("#delete").hide();
        jQuery("#related-grids").hide();
       
        jQuery("#"+id).show();
    }
    var last_selected = null;
    var last_loaded   = null;
    var wait = "<img src=\"{{ asset('bundles/sgnforms/images/working.gif') }}\" alt=\"working...\" />";

$(document).ready(function() {
    $("#e1").select2({ placeholder: "Choisissez une table ..." });

    jQuery("#list-grid").jqGrid({
        autowidth : true,
        height    : 'auto',
        shrinkToFit : true,
        mtype: "GET",
        url       : "{{ url(
                    'sgn_forms_formscrud_show',
                    {
                        'bundle' : project,
                        'format' : 'json' ,
                        'table'  : entity,
                        'params' : params
                    } ) }}",
        datatype: "json",
        jsonReader : {
          repeatitems: false
        },
        colNames    : {{ columnNames|json_encode()|raw }},
        colModel    : {{ columnModel|raw   }} ,
        rowNum      : {{ limit }},
        rowList     : {{ rowsList }},
        pager       : "#grid-nav",
        sortname    : 'id',
        viewrecords : true,
        gridview    : true,
        sortorder   : "asc",
        caption     : "",
        onSelectRow      : relatedGridsReload,
        // loadComplete     : hideResearch,
        //  gridComplete: function(){
        //     var ids = jQuery("#list-grid").jqGrid('getDataIDs');
        //     for(var i=0;i < ids.length;i++){
        //         var cl = ids[i];
        //         edit    = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-edit'></span></a>"; 
        //         restore = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-open'></span></a>"; 
        //         del     = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-remove'></span></a>"; 
        //         show    = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-eye-open'></span></a>"; 
        //         related = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-list-alt'></span></a>"; 
        //         save    = "<a role='button' onclick=\"jQuery('#list-grid').editRow('"+cl+"');\" class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-save'></span></a>"; 
        //         jQuery("#list-grid").jqGrid('setRowData',ids[i],{act:related+show+edit+save+restore+del});
        //     }    
        // },
    });

    function relatedGridsReload(sel_id) {
       
        jQuery('#editEntity').html(wait);
        jQuery('#showEntity').html(wait);
        jQuery('#deletEntity').html(wait);

        {% for collection, url in collectionNames %}
            myUrl = "{{ url }}";
            myUrl = myUrl.replace('%23', sel_id); // %23 = #
            $.ajax( { url: myUrl , dataType : "html" , cache  : false})
                .done(function(data) {
                    jQuery('#related-grid-{{collection}}').append(data);
                })
                .fail(function(e, data) {
                    alert( "error "+myUrl );
                    console.log (e);
                })
                .always(function() {
                    // alert( "complete" );
                });

        {% endfor %}

        myUrl = "{{ url_edit }}";
        myUrl = myUrl.replace('%23', sel_id); // %23 = #
        $.ajax( { url: myUrl , dataType : "html" , cache  : false})
            .done(function(data) {
                jQuery('#editEntity').html( data );
            })
            .fail(function(e, data) {
                alert( "error "+myUrl );
                console.log (e);
            })
            .always(function() {
                // alert( "complete" );
            });

        myUrl = "{{ url_showone }}";
        myUrl = myUrl.replace('%23', sel_id); // %23 = #
        $.ajax( { url: myUrl , dataType : "html" , cache  : false})
            .done(function(data) {
                jQuery('#showEntity').html( data );
            })
            .fail(function(e, data) {
                alert( "error "+myUrl );
                console.log (e);
            })
            .always(function() {
                // alert( "complete" );
            });

 
        if (sel_id != last_loaded ) {
            {% for collection, url in collectionNames %}
                jQuery("#list-grid-{{ collection }}" ).clearGridData();
                jQuery("#list-grid-{{ collection }}").trigger('reloadGrid');
            {% endfor %}
            jQuery(".selectedEntityId").text(getSelectedEntityId);

            last_loaded = sel_id;
        }
        last_selected = sel_id;
    }

    function getSelectedEntityId() 
    {

        var sel_id = jQuery("#list-grid").getGridParam('selrow');
        if (last_loaded) jQuery("#list-grid tr#" + last_loaded + " td").css('font-weight', 'normal');
        jQuery("#list-grid tr#" + sel_id + " td").css('font-weight', 'bold');
        var id = jQuery("#list-grid").getCell(sel_id, 'id');
        return id;
    }

    function hideResearch() 
    {
        if (jQuery("#searchmodfbox_list-grid")) {
            jQuery("#searchmodfbox_list-grid a.ui-jqdialog-titlebar-close").click();
        }
    }

    var grid = jQuery("#list-grid").jqGrid("navGrid", "#grid-nav",
        {
            add:false,  edit:false, view:false, del:false,search: true
        },
        { } //edit options
    );

    jQuery("#list-grid").jqGrid("filterToolbar", {
       // searchOperators: true ,
      // stringResult: true,
       // searchOnEnter: false,
        defaultSearch: "cn"
    });

    //jQuery("#list-grid").jqGrid('setSelection', 1);
     jQuery("#list-grid").setCell(1);
 });

jQuery(window).bind('resize', function() {
    // Get width of parent container
    var width = jQuery("#grid_container").width();
    if (width == null || width < 1){
        // For IE, revert to offsetWidth if necessary
        width = jQuery("#grid_container").attr('offsetWidth');
    }
    width = width - 2; // Fudge factor to prevent horizontal scrollbars
    if (width > 0 &&
        // Only resize if new width exceeds a minimal threshold
        // Fixes IE issue with in-place resizing when mousing-over frame bars
        Math.abs(width - jQuery("#list-grid").width()) > 5)
    {
        jQuery("#list-grid").setGridWidth(width);
    }

}).trigger('resize');

    function ajaxFormRequest(form, ajax)
    {
        var formName = form.action.indexOf("/edit/") > 0 ? '#editEntity' : '#newEntity';

        // On empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire :
        $(formName).submit(function(e)
        {
            e.preventDefault();
        });

        $.ajax({
            type: "POST",
            url:  form.action + ajax,
            data: $(form).serialize()
        })
            .done(function(result){
                if (result.indexOf('<form') == 0)
                {
                    // Le formulaire modifié dynamiquement ou avec des erreurs de validation :
                    jQuery(formName).html(result);
                } else {
                    // L’objet a été modifié ou inséré, on redirige :
                    window.location.replace(result);
                }
            })
    }

</script>
{% endblock %}