{% extends sgn_forms_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet'  href="{{ asset('bundles/sgnforms/css/jquery-ui-1.10.0.custom.css') }}" />
    <link rel='stylesheet'  href="{{ asset('bundles/sgnforms/css/div-wait.css') }}">
    <style>
    .ui-jqgrid .ui-pg-input {
        font-size: 14px;
        height: 20px;
        margin: 0;
        width: 50px;
    }

    .ui-jqgrid .ui-jqgrid-view {
        font-size: 14px;
    }
    .ui-jqgrid-sortable {
        height: 100%;
    }

    .nav-pills
    {
        margin-top: 5px;
    }
    .hb_inner {
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 15px !important;
        width: 520px !important;
    }

    .table > thead > tr > th {
        vertical-align: middle;
    }


    #grid_container2 table>tbody>tr>td[role="gridcell"] {
        padding: 0px;
        padding-left: 8px;
    }
    #grid_container2 input {
        height: 25px;
        background-color: #F9F9F9;
    }
    </style>
{% endblock stylesheets %}

{% set bundle = "" %}
{% block header_banner_inner %}
    <div class="hb_inner">
        <div class="btn-group btn-group">

        </div>
        <br/>
          <div class="btn-group btn-group-sm">
           {% for bestof in bestof_entity %}
             {% if bestof  != entity %}
                <a href="{{ path('sgn_forms_formscrud_show_2', { table: bestof  }) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-paperclip"></span> {{ bestof|raw }}</a>
               {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="loading-big" id='loading-big' style="display:none">Loading&#8230;</div>
    <div class="row" id='idRow'>

    {% set id = null%}
    <div class="panel panel-primary" id="grid_container2">
        <div class="panel-heading" style="height:50px;">
            <div class="panel-title" style='float: left;'>{{ entity }}</div>
             {% if  entities  is defined and entities|length > 0  %}
                <select id="e1"  onchange="location = this.options[this.selectedIndex].value;" style="margin-top: -2px; float: right; margin-right:15px; min-width: 200px;">
                    <option></option>
                    {% for entit in entities %}
                        <option value="{{ entit.link }}" >{{ entit.name}}</a></option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <div id="result_panel" class="panel-body">
            <table  id="list-grid"></table>
            <div id="grid-nav"></div>
        </div>
    </div>
    <br>

     {% if  collectionNames  is defined %}

      <div class="btn-group">
        <button  role="button" class="btn btn-primary btn-md" onclick="showHide('related-grids');" ><span class="glyphicon glyphicon-list-alt"></span> {% trans %}Related datas{% endtrans %}</button>
        <button id= 'btn-show'   role="button" class="btn btn-primary btn-md" onclick="showHide('show');"><span class="glyphicon glyphicon-eye-open"> </span> {% trans %}Show{% endtrans %}</a>
        <button id= 'btn-edit'   role="button" class="btn btn-warning btn-md" onclick="showHide('edit');"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</button>
        <button id= 'btn-create' role="button" class="btn btn-warning btn-md" onclick="showHide('new');"><span class="glyphicon glyphicon-plus"></span> {% trans %}New{% endtrans %}</button>
        <button id= 'btn-delete' role="button" class="btn btn-danger  btn-md" onclick="showHide('delete');"> <span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
     </div>

    <div id="myTabContent" class="tab-content" >
        <div class = "tab-pane" id="related-grids" style="display:none;">
            <h2>{{ entity|trans }} : <span class='selectedEntityId'></span></h2>
            {% for collection , attributs  in collectionNames %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="panel-title">{{collection}}</h3>
                    </div>
                    <div id="result_panel-{{collection}}" class="panel-body">
                        <div id="related-grid-{{collection}}" ></div>
                    </div>
                    {% if attributs.collections is defined and attributs.collections is not empty %}
                        <div class="btn-group">
                            <button id= 'btn-annexe' role="button" class="btn btn-primary btn-md" onclick="showHideSub('{{ collection }}');" ><span class="glyphicon glyphicon-list-alt"></span> {% trans %}Related datas{% endtrans %}</button>
                        </div>
                        <div class="panel-body" id="related-grids-{{ collection }}" style="display:none;">
                        {% for subcollection, subattributs in attributs.collections %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{ subcollection }}</h4>
                                </div>
                                <div id="related-grid-{{ collection }}-{{ subcollection }}" ></div>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
             {% endfor %}
        </div>
        <div class = "tab-pane" id="show" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
            <div id="showEntity">
                Vous devez effectuer une selection pour pouvoir l'afficher.
            </div>
        </div>
        <div class = "tab-pane" id="edit" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
            <div id="editEntity">
                Vous devez effectuer une selection pour pouvoir l'éditer.
            </div>
        </div>
        <div class = "tab-pane" id="new" style="display:none;"><h2>{{ entity }} : </h2>
            <div id="newEntity">
                {% if route_exists('/admin/'~entity~'/new/') %}
                    {{ render(controller( entity~':new')) }}
                {% else %}
                    {{ render(controller('SGNFormsBundle:FormsCRUD:new', { 'table': entity, 'ajax':''  })) }}
                {% endif %}
            </div>
         </div>
        <div class = "tab-pane" id="delete" style="display:none;"><h2>{{ entity }} : <span class='selectedEntityId'></span></h2>
            <div id="deleteEntity">
                Vous devez effectuer une selection pour pouvoir la supprimer.
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include ('SGNFormsBundle:FormsCRUD:show.js.twig' )%}

{% endblock %}
